body {
    background-color: lightblue;
}

.container {
    justify: center;
}

h1{
    justify-content: center;

}

.divider {
    width: 5px;
    height:auto;
    display:inline-block;
}

.span {
    width: 10px;
}


